* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #152345;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.container {
    width: 90%;
    max-width: 480px;
    background: #1f2933;
    padding: 20px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

/* Form */
form {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 6px;
    outline: none;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #3b82f6;
    color: white;
}

/* Tasks */
ul {
    list-style: none;
}

li {
    background: #111827;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-text {
    flex: 1;
    word-break: break-word;
}

.task-buttons {
    display: flex;
    gap: 5px;
}

.btn {
    padding: 5px 8px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 12px;
    color: white;
}

.complete-btn { background: #2aba5f; color: black; }
.edit-btn { background: #d2a04a; color: black; }
.delete-btn { background: #b73c3c; color: black; }
